@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Science+Gothic:wght@100..900&display=swap");
/* .science-gothic-SciFiFont {
  font-family: "Science Gothic", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings:
    "slnt" 0,
    "wdth" 100,
    "CTRS" 0;
} */

.science-gothic {
  font-family: "Science Gothic", sans-serif;
  font-weight: 600;
}
